@media only all and (min-width: /*14*/00px){

  #credits {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 6;
    visibility: visible;
    background-color: rgba(72, 30, 14, 1);
    background-image: none;
  }

  #credits::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../res/image/background_wall.bmp');
    opacity: 0;
  }

}
/*
@media not all and (min-width: 1400px){

  #credits {
    visibility: hidden;
  }

}*/
