/*h1 {
  height: 50px;
  font-size: 2em;
}

h2 {
  height: 50px;
  font-size: 1.5em;
}*/

html {
	font-family: "Helvetica Neue", Verdana, cursive, Geneva, sans-serif;
	color: white;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

h6, h5, h4, h3, h2, h1, img {
	position: relative;
	display: inline;
	text-align: left;
	margin-left: 9.5px;
  font-weight: bold;
}

body {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

*, *:before, *:after {
    box-sizing: initial;
}

input[type=range] {
	border: none;
}
