#restart-container [id^=option] {
  display: inline-block;
  flex-grow: 1;
  text-align: center;
  margin: 5px 10px;
  padding: 10px 5px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
}

#restart-container {
  background-image: none;
  background-color: rgb(0, 0, 0);
}
